@{
    ViewData["Title"] = "Admin";
}

@* <h1 class="title">Admin</h1> *@

<div class="principal">
    <div class="info">
        <div class="box"></div>
        <div class="info-info">
            <p>Pedro</p>
            <p>Coockle</p>
            <a asp-area="" asp-controller="Home" asp-action="Index">Cerrar usuario</a>
        </div>
    </div>
    <div class="ctas">
        <h1 class="title">Estudiante</h1>
        <button class="btn"><a class="nav-link" asp-area="" asp-controller="Student" asp-action="ActualizarInformacion">Actualizar informacion</a></button>
        <button class="btn"><a class="nav-link" asp-area="" asp-controller="Student" asp-action="PagoMatricula">Pago matricula</a></button>
    </div>
</div>