@{
    ViewData["Title"] = "Admin";
}

@* <h1 class="title">Admin</h1> *@

<div class="principal">
    <div class="info">
        <div class="box"></div>
        <div class="info-info">
            <p>Pedro</p>
            <p>Coockle</p>
            <a href="">Cerrar usuario</a>
        </div>
    </div>
    <div class="ctas">
        <h1 class="title">Estudiante</h1>
        <button class="btn">Actualizar informacion</button>
        <button class="btn">Pago matricula</button>
    </div>
</div>