@{
    ViewData["Title"] = "Home Page";
}

<h1 class="title">@ViewData["Title"]</h1>

<div class="login-container">
    <label for="">Ingresar documento</label>
    <input type="text" placeholder="Documento aquí...">
    <label for="">Ingresar correo</label>
    <input type="text" placeholder="Correo aquí...">
    <button class="btn">Ingresar</button>
    <a asp-area="" asp-controller="Home" asp-action="Privacy">¿Olvido contraseña?</a>
</div>
