
@{
    ViewData["Title"] = "AdministrarUsuario";
}

<h1 class="title">Administrar usuarios</h1>

<div class="barra-busqueda"> <label for="">Buscar documento</label>
 <input type="text" placeholder="Documento aquí..."></div>



<div><table>
  <tr>
    <th>Nombre</th>
    <th>N.documento</th>
    <th>Rol</th>
    <th>Fec. Modificacion</th>
    <th></th>
  </tr>
  <tr>
    <td>kurt julio jaramillo cobain</td>
    <td>100.528.223</td>
    <td>Administrador</td>
    <td> <input type="date" id="start" name="Calendario"
       value="2018-07-22"
       min="1995-01-01" max="2030-12-31"></td>
    <td><button class="btn btn-secondary">Editar</button>
        <button class="btn btn-secondary">eliminar</button></td>   
  </tr>
</table>
</div>
