@model SGP.Models.Usuario

@{
    ViewData["Title"] = "AdministrarUsuario";
}

<h1 class="title">Administrar usuario</h1>

<form method="post">
    <div class="barra-busqueda">
        <label asp-for="Documento">Buscar documento</label>
        <input asp-for="Documento" type="text" placeholder="Documento aquí...">
        <button type="submit" class="btn btn-secondary">Buscar</button>
    </div>

    <div class="bltbl">
        <table>
            <tr>
                <th>Nombre</th>
                <th>N.documento</th>
                <th>Rol</th>
                <th>Genero</th>
                <th></th>
            </tr>
            <tr>
                <td class="td nombre-usuario"></td>
                <td class="td documento-usuario"></td>
                <td class="td rol-usuario"></td>
                <td class="td genero-usuario"></td>
                <td>
                    <button class="btn btn-secondary">Editar</button>
                    <button class="btn btn-secondary">eliminar</button>
                </td>
            </tr>
        </table>
    </div>
</form>
