@{
    ViewData["Title"] = "Admin";
}

@* <h1 class="title">Admin</h1> *@

<div class="principal">
    <div class="info">
        <div class="box"></div>
        <div class="info-info">
            <p>Javier</p>
            <p>Coockle</p>
            <a asp-area="" asp-controller="Home" asp-action="Index">Cerrar usuario</a>
        </div>
    </div>
    <div class="ctas">
        <h1 class="title">Admin</h1>
        <button class="btn"><a asp-area="" asp-controller="Admin" asp-action="CrearUsuario">Crear usuario</a></button>
        <button class="btn"><a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AdministrarUsuario">Administrar usuario</a></button>
    </div>
</div>

