@model SGP.Models.Usuario

@{
    ViewData["Title"] = "Crear usuario";
}

<h1 class="title">@ViewData["Title"]</h1>

<form method="post">
    <div class="blo1">

        <div>
            <label> Tipo de documento:</label><br>
            <select name=”documento”>
                <option value=”av”>Cedula</option>
                <option value=”bu”>T.I</option>
                <option value=”bu”>Pasaporte</option>
                <option value=”bu”>C.E</option>
            </select>
        </div>

        <div>
            <label asp-for="IdPrograma">Programa</label>
            @Html.DropDownList("IdPrograma", new SelectList(ViewBag.Programa, "IdPrograma", "ValPrograma"));
        </div>

        <div>
            <label asp-for="Genero">Genero</label>
            @Html.DropDownList("Genero", new SelectList(ViewBag.genero, "IdGenero", "ValGenero"))
        </div>

        <div>
            <label asp-for="Rol">Rol</label>
            @Html.DropDownList("IdRol", new SelectList(ViewBag.rol, "IdRol", "ValRol"))
        </div>

        <div class=bl2>
            <div>
                <label asp-for="Nombre">Ingresar el nombre:</label>
                <input asp-for="Nombre" type="text" placeholder="Nombre aquí...">
            </div>

            <div>
                <label asp-for="Apellido">Ingresar el apellido:</label>
                <input asp-for="Apellido" type="text" placeholder="Nombre aquí...">
            </div>

            <div>
                <label asp-for="Documento">Ingresar el documento:</label>
                <input asp-for="Documento" type="text" placeholder="Documento aquí...">
            </div>

            <div>
                <label asp-for="Email">Ingresar el correo:</label>
                <input asp-for="Email" type="text" placeholder="Documento aquí...">
            </div>
        </div>

        <div class=bl3>
            <div>
                <label asp-for="Direccion">Ingresar la direccion:</label>
                <input asp-for="Direccion" type="text" placeholder="Direccion aquí...">
            </div>

            <div>
                <label for="start">Dia de nacimiento:</label>
                <input type="date" id="start" name="trip-start"
                       value="2018-07-22"
                       min="2018-01-01" max="2018-12-31">
            </div>

            <div>
                <label asp-for="Telefono">Ingresar el telefono:</label>
                <input asp-for="Telefono" type="text" placeholder="Telefono aquí...">
            </div>
        </div>

        <div class="buttons">
            <button class="btn btn-secondary">Cancelar</button>
            <button class="btn btn-secondary" type="submit">Guardar</button>
        </div>
</form>
