
@{
    ViewData["Title"] = "Crear usuario";
}

<h1 class="title">@ViewData["Title"]</h1>
<div class="bloque">

<div class="bl1">
     
 <div class="Tdocumento"><label for="">Tipo de documento:</label>
   
    <select name="Documento">
        <option>Tarjeta de identidad</option>
        <option>Cedula</option>
        <option>C.E </option>
        <option>T.I </option>

    </select></div>

 <div class="Nombres"><label for="">Nombres:</label>
 <input type="text" placeholder="Nombres..."></div>

 <div class="Apellidos"><label for="">Apellidos:</label>
 <input type="text" placeholder="Apellidos..."></div>

</div>

<div class="bl2">

   <div class="ndocumento"><label for="">Numero de documento:</label>
   <input type="text" placeholder="Numero de documento..."></div>

   <div class="correo"><label for="">Correo:</label>
   <input type="text" placeholder="correo..."></div>

   <div class="direccion"><label for="">Direccion:</label>
   <input type="text" placeholder="Direccion..."></div>

</div>
<div class="bl3">

 <div class="rol"><label for="">Rol:</label>
   
    <select name="Documento">
        <option>Estudiante</option>
        <option>Administrador</option>
        <option>Coordinador</option>
    </select></div>

   <div class="telefono"><label for="">Telefono:</label>
   <input type="text" placeholder="Telefono"></div>

   
 <div class="genero"><label for="">Genero:</label>

    <select name="Genero">
        <option>Masculino</option>
        <option>Femenino</option>
        <option>Otres</option>
    </select></div>

</div>    
<div class="bl4">

 <div class="fecha"><label for="start">Fecha de nacimiento:</label>

 <input type="date" id="start" name="Calendario"
       value="2018-07-22"
       min="1995-01-01" max="2030-12-31"></div>

 <div class="programa"><label for="">Programa:</label>

    <select name="Programa">
        <option>Maestria</option>
        <option>MGTI</option>
        <option>Esp.TI</option>
    </select></div> 
</div>   

<div class="buttons">
        <button class="btn btn-secondary">Guardar</button>
        <button class="btn btn-secondary">cancelar</button>
    </div>





</div>
