
@{
    ViewData["Title"] = "Crear usuario";
}

<h1 class="title">@ViewData["Title"]</h1>

<div class="blo1">

<div><form> 
<label> Tipo de documento:</label><br>
<select name=”documento”>
<option value=”av”>Cedula</option>
<option value=”bu”>T.I</option>
<option value=”bu”>Pasaporte</option>
<option value=”bu”>C.E</option>
</select>
</form></div>

<div><form> 
<label> Programa:</label><br>
<select name=”prgrama”>
<option value=”av”>MGTI</option>
<option value=”bu”>Mestria</option>
<option value=”bu”>Pasaporte</option>
<option value=”bu”>Esp.SI</option>
</select>
</form></div>


<div>
    <label>Rol</label>
    @Html.DropDownList("IdRol", new SelectList(ViewBag.rol, "IdRol", "IdRol"))
</div>

<div><form> 
<label> Rol:</label><br>
<select name=”rol”>
<option value=”av”>Administrador</option>
<option value=”bu”>Estudiante</option>
<option value=”bu”>Coordinador</option>
</select>
</form></div>

<div><form> 
<label> Genero:</label><br>
<select name=”genero”>
<option value=”av”>Masculino</option>
<option value=”bu”>Femenino</option>
<option value=”bu”>Otro</option>
</select>
</form></div>
</div>

<div class=bl2>
<div><label for="">Ingresar el nombre completo:</label>
<input type="text" placeholder="Nombre aquí..."></div>

<div><label for="">Ingresar el documento:</label>
<input type="text" placeholder="Documento aquí..."></div>

<div><label for="">Ingresar el correo:</label>
<input type="text" placeholder="Documento aquí..."></div>
</div>

<div class=bl3>
<div><label for="">Ingresar la direccion:</label>
<input type="text" placeholder="Direccion aquí..."></div>

<div><label for="start">Dia de nacimiento:</label>

<input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31"> </div>

<div><label for="">Ingresar el telefono:</label>
<input type="text" placeholder="Telefono aquí..."></div>
</div>

 <div class="buttons">
        <button class="btn btn-secondary">Cancelar</button>
        <button class="btn btn-secondary">Guardar</button>
    </div>