@{
    ViewData["Title"] = "Consulta";
}

<h1 class="title">Consulta</h1>

<div class="barra-busqueda"> 
    <label for="">Buscar documento</label>
    <input type="text" placeholder="Documento aquí...">
</div>

<div>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Programa</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Valor Pagado</th>
            <th>Fecha de pago</th>
            <th>Estado</th>
            <th></th>
        </tr>
        <tr>
            <td>kurt julio jaramillo cobain</td>
            <td>Tecnologia en sistemas</td>
            <td>kurtjaramillo@gmail.com</td>
            <td>3117634583</td>
            <td>1.200.000</td>
            <td>01/02/2022</td>
            <td>Activo</td>
            <td><button class="btn btn-secondary">Descargar informe</button></td>   
        </tr>
    </table>
</div>

<div class="buttons">
    <button class="btn btn-secondary">Volver</button>
</div>