@{
    ViewData["Title"] = "Admin";
}

@* <h1 class="title">Admin</h1> *@

<div class="principal">
    <div class="info">
        <div class="box"></div>
        <div class="info-info">
            <p>Jose</p>
            <p>Coockle</p>
            <a asp-area="" asp-controller="Home" asp-action="Index">Cerrar usuario</a>
        </div>
    </div>
    <div class="ctas">
        <h1 class="title">Coordinador</h1>
        <button class="btn"><a class="nav-link" asp-area="" asp-controller="Coordinador" asp-action="Consulta">Consulta</a></button>
        <button class="btn"><a class="nav-link" asp-area="" asp-controller="Coordinador" asp-action="ProgramarAsignaturas">Programar asignaturas</a></button>
        <button class="btn"><a class="nav-link" asp-area="" asp-controller="Coordinador" asp-action="Homologar">Homologar</a></button>
        <button class="btn"><a class="nav-link" asp-area="" asp-controller="Coordinador" asp-action="Entrevistas">Entrevistas</a></button>
    </div>
</div>