/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Global styles
-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--fondo);
  font-family: 'Roboto', sans-serif;
}

.title {
  display: flex;
  text-align: center;
}

:root {
    --fondo: #fefae0;
    --verde-oscuro: #283618;
    --verde: #606c38;
    --naranjado: #dda15e;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--verde-oscuro);
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
}

.btn:hover {
  color: var(--naranjado);
}

.btn:focus {
  box-shadow: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: var(--naranjado);
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  background-color: var(--verde);
  color: var(--fondo);
}

/* Nav styles
-------------------------------------------------- */

nav {
  background-color: var(--verde);
}

nav a {
  color: var(--fondo);
}

nav a:hover {
  color: var(--naranjado);
}

/* Main container styles
-------------------------------------------------- */

.container-content {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login styles
-------------------------------------------------- */

.login-container {
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin: 50px;
  gap: 10px;
}

/* Recover password styles
-------------------------------------------------- */

.recover-password-container {
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin: 50px;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 60px 0px 60px 0;
}

/* Crear usuario styles
-------------------------------------------------- */

.Tdocumento {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.Nombres {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.Apellidos {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.bl1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.ndocumento {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.correo {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.direccion {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.bl2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rol {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.telefono {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.genero {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.bl3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fecha {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.programa {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.bl4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Administrar usuarios y consulta styles
-------------------------------------------------- */

.barra-busqueda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.barra-busqueda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 8%;
  gap: 20px;
}

/* Programar asignaturas styles
-------------------------------------------------- */

.Asignatura-contenedor {
  display: flex;
  justify-content: space-around;
  margin: 60px 0 60px 0;
}

/* Homologar styles
-------------------------------------------------- */

.info-homologar {
  margin-top: 30px;
}

.r-buttons {
  display: flex;
  gap: 10px;
}

/* Crear usuario styles
-------------------------------------------------- */

.blo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.blo1 div {
  margin: 3vw;
}

.bl2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.bl2 div {
  margin: 3vw;
}

.bl3 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.bl3 div {
  margin: 4vw;
}

/* Administrar usuario
-------------------------------------------------- */

.bltbl {
  display: flex;
  justify-content: center;
  text-align: center;
}

table {
  width: 100%;
  border: 1px solid #000;
}
th,
td {
  text-align: center;
  vertical-align: center;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 1vw;
  caption-side: bottom;
}
caption {
  color: #fff;
  background: #000;
}
th {
  background: #eee;
}

.barra-busqueda {
  display: flex;
  padding: 1vw;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Pago matricula style
-------------------------------------------------- */

.btnPago {
  background-color: #283618;
  color: #eee;
}

.bltbl {
  display: flex;
  margin: 3vw;
  justify-content: center;
  text-align: center;
}

/* Actualizar inf. Style
-------------------------------------------------- */
.bltbl2 {
  display: flex;
  margin: 3vw;
  justify-content: center;
  text-align: center;
}

.egr {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  justify-content: center;
  text-align: center;
}

.cf {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  justify-content: center;
  text-align: center;
}

/* Perfil Style
-------------------------------------------------- */

.principal {
  display: flex;
  gap: 40px;
  align-items: center;
}

.ctas {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #ccc;
}
